.main {
    width: 100%;
    /* padding: 20px; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.wrapper {
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imgContainer {
    text-decoration: none;
    position: relative;
    width: 100%;
    height: calc(100% - 80px);
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 238, 238, 0.544);
    cursor: pointer;
    overflow: hidden;
}

.slider {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 35%;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 45, 45);
    opacity: 0;
    transition: all 0.5s ease;
}

.textSmall {
    font-size: 0.7rem;
    font-weight: 500;
    color: rgb(248, 248, 248);
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
}

.imgContainer:hover .slider {
    transform: translate(-50%, 0);
    opacity: 1;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headingSmallBlack {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: rgb(45, 45, 45);
    text-transform: capitalize;
}

.flexGroup {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.flexItemStrike {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: gray;
}

.flexItemNormal {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: rgb(45, 45, 45);
}

@media (max-width: 767px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .imgContainer {
        padding: 10px;
    }

    .slider {
        width: 80%;
    }
}