.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    transform: translateX(-100%);
    background-color: white;
    z-index: 700;
}

.container.open {
    transform: translateX(0);
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.logoContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
}

.navbar {
    /* width: 100%; */
    padding: 10px;
    box-sizing: border-box;
}

.xBtnContainer {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.xBtn {
    font-size: 1.5rem;
    color: rgb(45, 45, 45);
}

.nestedItem {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(-150%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.7s ease;
    background-color: white;
    z-index: 800;
}

.nestedItem.slide {
    transform: translateX(0);
}

