.container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 1.5rem;
    color: rgb(236, 236, 236);
}

.icon.active {
    color: #7f2e12;
}